body {
    margin: auto;
    max-width: 50em;
    font-family: sans-serif;
    background-color: lightgreen;
  }
  .item {
    border: 2px solid black;
    margin: 0.1em;
    padding: 0.2em 0.5em; 
  }
  .text {
    white-space: pre-wrap;
    word-wrap: break-word;
  }