<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <h1>Tarinasivusto</h1> 



  {% if session.user_id %}
  <p>
    Olet kirjautunut sisään nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>  
  </p>
{% endif %}

<p>
<a href="/">Etusivu</a> |
<a href="/find_item">Etsi tarina</a> |
{% if session.username %}
<a href="/new_item">Uusi tarina</a> |
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a> |
<a href="/register">Luo tunnus</a>
{% endif %}
</p>
{% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
{% endfor %}

{% block content %}{% endblock %}

</body>
</html>
