{% extends "layout.html" %}

{% block title %}Uusi tarina{% endblock %}


{% block content %}
  <h1>Uusi tarina</h1>
  <form action="/create_item" method="post">
    <p>
      <label for="title">Otsikko: </label> <br />
      <input type="text" name="title" id="title" maxlength="50" required/>
    </p>
    <p>
      <label for="description">Juonikuvaus: </label><br />
      <textarea name="description" id="description" rows="10" cols="70" maxlength="400"></textarea required>
 
    </p>
    {% for class in classes %}
    <p>
      <label for="class{{ class }}">{{ class }}:</label> <br />
      <select name="classes" id="class{{ class }}">
        <option value="">(valitse)</option>
      {% for option in classes[class] %}
        <option value="{{class}}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    </p>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

    <p>
      <label for="story">Tarina: </label> <br />
      <textarea name="story" id="story" rows="50" cols="100" maxlength="5000"></textarea required>
     
    </p>
    <input type="submit" value="Julkaise tarina" />
  </form>
  {% endblock %}