<!DOCTYPE html>
<html>

<head>
  <title>Uusi tarina</title>
</head>

<body>
  <h1>Uusi tarina</h1>
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="60" required/>
    </p>
    <p>
      Juonikuvaus: <br />
      <textarea name="description" rows="10" cols="70" maxlength="400"></textarea required>
 
    </p>
    {% for class in classes %}
    <p>
      {{ class }}: <br />
      <select name="classes">
        <option value="">(valitse)</option>
      {% for option in classes[class] %}
        <option value="{{class}}:{{ option }}">{{ option }}</option>
      {% endfor %}
      </select>
    </p>
    {% endfor %}

    <p>
      Tarina: <br />
      <textarea name="story" rows="50" cols="100"></textarea required>
     
    </p>
    <input type="submit" value="Julkaise tarina" />
  </form>
</body>

</html>