{% extends "layout.html" %}

{% block title %}Luo tunnus{% endblock %}


{% block content %}
<h2>Luo tunnus</h2>
  <form action="/create" method="post">
    <p>
      <label for="username">Käyttäjänimi:</label>
      <input type="text" id="username" name="username" value="{{ username|default('') }}">
    </p>
    <p>
      <label for="password1">Salasana:</label>
      <input type="password" id="password1" name="password1">
    </p>
    <p>
      <label for="password2">Salasana uudestaan:</label>
      <input type="password" id="password2" name="password2">
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
{% endblock %}