{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}


{% block content %}
  <h2>{{ item.title }}</h2>

  {% if session.user_id == item.user_id %}
  
  <p>
    <a href="/edit_item/{{ item.id }}">Muokkaa</a>
    <a href="/remove_item/{{ item.id }}">Poista</a>
  </p>
  
  {% endif %}
   
  <div class="item">
  <p> 
    <p class="text">Juonikuvaus: {{ item.description | show_lines }}</p>
  </p>
  <p>
    Kirjoittaja:<a href="/user/{{ item.user_id }}"> {{ item.username }}</a>
  </p>
  {% if classes %}
    <ul>
      {% for class in classes %}
      <li>{{ class.title  }}: {{  class.value  }}</li>  
      {% endfor %}
    </ul>
  {% endif %}
  </div>

  <p>
    <p class="text">{{ item.story|show_lines }}</p>
  </p>

  
  <h3>Arvostelut</h3>
  <ul>
    {% if reviews %}
      {% for post in reviews %}
      <li>
        {{ post.grade }},
        <span class="text">{{ post.review | show_lines }}</span>,
        <a href="/user/{{ post.user_id }}">{{ post.username }}</a>
      </li>
      {% endfor %}
    {% else %}
      Ei vielä arvosteluja
    {% endif %}
  </ul>
  {% if session.user_id %}
  <h3>Uusi arvostelu</h3>
  <form action="/create_review" method="post">
    <label for="grade">Arvosana (väliltä 1-10):</label>
    <select name="grade" id="grade">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br /><br />
    <label for="review">Kirjoita arvostelu: </label><br />
    <textarea name="review" id="review" rows="10" cols="70" maxlength="400" required ></textarea> <br />
    <input type="hidden" name="item_id" value="{{  item.id  }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Kirjoita arvostelu" />
  </form>
{% endif %}
{% endblock %}